<div class="container w-100">
  <div class="row">
    <div class="col-6 offset-3 text-center mt-3">
      <h2>ログイン</h2>
      <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true) do |f| %>
        
        <div class="field mt-3">
          <%= f.label :company_code, "会社番号" %><br />
          <%= f.password_field :company_code, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
