<div class="container w-100">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center mt-3">
      <h2>ログイン</h2>
      <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true) do |f| %>

        <div class="field mt-3">
          <%= f.label :id, "社員番号" %><br />
          <%= f.text_field :id, class: "form-control", autocomplete: "off" %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :phone_number, "TEL" %><br />
          <%= f.text_field :phone_number, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Log in", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
