<div class="container">
  <div class="row">
    <h2 class="col-6 offset-3 text-center mt-3"><%= params[:status] || '未集荷' %>案件一覧</h2>
    <div class="btn-group mt-3 col-3" role="group">
      <%= link_to '未集荷', companies_projects_path(status: '未集荷'), class: "btn btn-primary filter-button" %>
      <%= link_to '進行中', companies_projects_path(status: '進行中'), class: "btn btn-primary filter-button" %>
      <%= link_to '完了', companies_projects_path(status: '完了'), class: "btn btn-secondary filter-button" %>
    </div>

  </div>
</div>
<div class="row mt-3 text-center">
  <div class="col-12"> 
    <table class="table table-striped">
      <tr>
        <th>案件名</th>
        <th>車種</th>
        <th>金額</th>
        <th>集荷日</th>
        <th>配達日</th>
        <th>担当者</th>
        <th>車両</th>
        <th></th>
      </tr>
      <% @projects.each do |project| %>
      <tbody class="project-list">
        <tr>
          <td class="text-nowrap text-truncate" style="max-width: 100px;">
            <%= link_to project.project_name, companies_project_path(project), class: "text-decoration-none" %>
          </td>
          <td class="text-nowrap text-truncate" style="max-width: 100px;">
            <%= project.vehicle_type.presence %>
          </td>
          <td class="text-nowrap">
            <%= project.amount.present? ? number_to_currency(project.amount, unit: "¥", precision: 0, delimiter: ",") : link_to('設定する', edit_companies_project_path(project), class: "text-danger text-decoration-none") %>
          </td>
          <td class="text-nowrap">
            <%= project.planned_collection_date&.strftime('%m/%d %H:%M') || link_to('設定する', edit_companies_project_path(project), class: "text-danger text-decoration-none") %>
          </td>
          <td class="text-nowrap">
            <%= project.planned_delivery_date&.strftime('%m/%d %H:%M') || link_to('設定する', edit_companies_project_path(project), class: "text-danger text-decoration-none") %>
          </td>
          <td class="text-nowrap">
            <%= project.employee&.name.presence || link_to('設定する', edit_companies_project_path(project), class: "text-danger text-decoration-none") %>
          </td>
          <td class="text-nowrap">
            <%= project.vehicle&.vehicle_number.presence || link_to('設定する', edit_companies_project_path(project), class: "text-danger text-decoration-none") %>
          </td>
          <td class="text-nowrap">
            <%= link_to '削除', companies_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>