<div class="container">
  <div class="row">
    <h2 class="col-6 offset-3 text-center">< 案件作成 ></h2>
  </div>
  <%= form_with model: [@company, @project], url: companies_projects_path do |f| %>
  <div class="row">
    <div class="col-6 text-center mt-3">
        <div class="field mt-3">
          <%= f.label :project_name, "案件名※必須" %><br />
          <%= f.text_field :project_name %>
        </div>
        <div class="field mt-3">
          <%= f.label :description, "内容" %><br />
          <%= f.text_area :description %>
        </div>
        <p class="mt-3">車種選択※必須</p>
        <div class="row justify-content-center">
          <div class="field">
            <%= f.select :vehicle_weight, options_for_select(VEHICLE_WEIGHTS), { prompt: "選択" }, { class: 'dropdown', data: { target: 'vehicle_type_field' } } %>
          </div>
          <div class="field">
            <%= f.select :vehicle_category, options_for_select(VEHICLE_CATEGORIES), { prompt: "選択" }, { class: 'dropdown', data: { target: 'vehicle_type_field' } } %>
          </div>
          <div class="field">
            <%= f.select :vehicle_kind, options_for_select(VEHICLE_TYPES), { prompt: "選択" }, { class: 'dropdown', data: { target: 'vehicle_type_field' } } %>
          </div>
          <div class="field">
            <%= f.select :vehicle_kind2, options_for_select(VEHICLE_TYPES), { prompt: "選択" }, { class: 'dropdown', data: { target: 'vehicle_type_field' } } %>
          </div>
        </div>
        <div class="field mt-3">
          <%= f.label :amount, "金額" %><br />
          <%= f.number_field :amount %>
        </div>
    </div>
    <div class="col-6 text-center mt-3">
        <div class="field mt-3">
          <%= f.label :planned_collection_date, "集荷日" %><br />
          <%= f.date_field :planned_collection_date %>
        </div>
        <div class="field mt-3">
          <%= f.label :planned_delivery_date, "配達日" %><br />
          <%= f.date_field :planned_delivery_date %>
        </div>
        <div class="field mt-3">
          <%= f.label :employee_id, "担当者" %><br />
          <%= f.collection_select :employee_id, Employee.all, :id, :name, prompt: "担当者を選択" %>
        </div>
        <div class="field mt-3">
          <%= f.label :vehicle_id, "車両" %><br />
          <%= f.collection_select :vehicle_id, Vehicle.all, :id, :vehicle_number, prompt: "車両を選択" %>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="actions mt-3 col-6 offset-3 text-center">
        <%= f.submit "作成", class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
</div>

