<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 text-center">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>担当案件一覧</th>
            </tr>
          </thead>
          <tbody>
            <% @employee_projects.each_with_index do |employee_project, index| %>
            <% if employee_project.status == "進行中"%>
              <tr>
                <td>
                  <a class="text-success text-truncate d-inline-block" style="max-width: 300px;" data-toggle="collapse" href="#collapseProject<%= index %>" role="button" aria-expanded="false" aria-controls="collapseProject<%= index %>">
                    <%= "【#{employee_project.status}】 #{employee_project.project_name}" %>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="collapse" id="collapseProject<%= index %>">
                    <div class="card p-3 mt-2">
                      <ul class="list-unstyled">
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">車種:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.vehicle_type %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">集荷日:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.planned_collection_date&.strftime('%m/%d %H:%M') || '未定' %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">配達日:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.planned_delivery_date&.strftime('%m/%d %H:%M') || '未定' %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">車両番号:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.vehicle&.vehicle_number || '未定' %></span>
                        </li>
                      </ul>
                      <div class="text-center mt-2">
                        <%= link_to '詳細', employees_project_path(employee_project), class: 'btn btn-sm btn-primary' %>
                        <%= link_to '終了', complete_project_employees_project_path(employee_project), method: :patch, data: { confirm: "「#{employee_project.project_name}」を終了しますか？" }, class: 'btn btn-sm btn-danger' %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% elsif employee_project.status == "未集荷" %>
              <tr>
                <td>
                  <a class="text-primary text-truncate d-inline-block" style="max-width: 300px;" data-toggle="collapse" href="#collapseProject<%= index %>" role="button" aria-expanded="false" aria-controls="collapseProject<%= index %>">
                    <%= employee_project.project_name %>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="collapse" id="collapseProject<%= index %>">
                    <div class="card p-3 mt-2">
                      <ul class="list-unstyled">
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">車種:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.vehicle_type %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">集荷日:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.planned_collection_date&.strftime('%m/%d %H:%M') || '未定' %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">配達日:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.planned_delivery_date&.strftime('%m/%d %H:%M') || '未定' %></span>
                        </li>
                        <li class="d-flex mb-2">
                          <strong class="text-start" style="width: 80px;">車両番号:</strong> 
                          <span class="text-truncate" style="flex: 1;"><%= employee_project.vehicle&.vehicle_number || '未定' %></span>
                        </li>
                      </ul>
                      <div class="text-center mt-2">
                        <%= link_to '詳細', employees_project_path(employee_project), class: 'btn btn-sm btn-primary' %>
                        <%= link_to '開始', start_project_employees_project_path(employee_project), method: :patch, data: { confirm: "「#{employee_project.project_name}」を開始しますか？" }, class: 'btn btn-sm btn-success' %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>