<% if (controller_path.start_with?("companies")) && company_signed_in? || vehicles_controller? %>
    <header class="container-fluid shadow-sm p-3 mb-3 bg-white rounded">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <h2 class="navbar-brand mb-0 h1">
            <%= current_company.name %>
          </h2>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Top", company_path(current_company), class: "nav-link active" %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">項目</a>
                <div class="dropdown-menu">
                  <%= link_to '社員管理', company_employee_management_path(current_company), class: "dropdown-item" %>
                  <%= link_to '車両管理', company_vehicle_management_path(current_company), class: "dropdown-item" %>
                  <%= link_to '案件作成', new_companies_project_path, class: "dropdown-item" %>
                  <%= link_to '案件一覧', companies_projects_path, class: "dropdown-item" %>
                  <%= link_to '会社情報編集', edit_company_path(current_company), class: "dropdown-item" %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_company_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<% elsif (controller_path.start_with?("employees")) && employee_signed_in? %>
   <header class="container-fluid shadow-sm p-3 mb-3 bg-white rounded">
    <div class="row g-0">
      <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-light px-0">
          <h2 class="navbar-brand mb-0"><%= current_employee.name %></h2>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Top", employees_employee_path(current_employee), class: "nav-link active" %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">勤怠</a>
                <div class="dropdown-menu">
                  <%= link_to "出勤登録", new_attendance_path, class: "dropdown-item" %>
                  <%= link_to "退勤登録", new_attendance_path, class: "dropdown-item" %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <% else %>
<% end %>